@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faeade;
  color: #523122;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .general-title {
    @apply text-5xl leading-[9vw] font-bold tracking-[-.35vw] uppercase md:text-8xl 2xl:text-[8.5rem];
  }
}

@layer components {
  .paragraph-line {
    @apply overflow-hidden text-nowrap;
  }

  .hero-container {
    @apply bg-milk relative h-dvh w-screen overflow-hidden;

    .hero-content {
      @apply relative z-10 flex h-full w-full translate-y-10 flex-col items-center pt-24 md:pt-32 2xl:justify-center 2xl:pt-0;

      .hero-title {
        @apply text-dark-brown mb-5 text-[3.3rem] leading-[9vw] font-bold tracking-[-.35vw] uppercase md:text-[6.5rem] 2xl:mb-0 2xl:text-[8.5rem];
      }

      .hero-text-scroll {
        @apply border-milk mb-8 rotate-[-3deg] border-[.5vw];

        .hero-subtitle {
          @apply bg-mid-brown;
        }

        h1 {
          @apply px-3 py-3 pb-5 text-[3.3rem] leading-[9vw] font-bold tracking-[-.35vw] text-[#fce1cd] uppercase md:text-[6.5rem] 2xl:px-[1.2vw] 2xl:py-0 2xl:pb-[1vw] 2xl:text-[8.5rem];
        }
      }

      h2 {
        @apply font-paragraph text-dark-brown mt-3 max-w-sm px-5 text-center leading-[115%] md:max-w-lg md:text-lg;
      }

      .hero-button {
        @apply text-dark-brown bg-light-brown mt-10 rounded-full p-3 px-10 text-lg font-bold uppercase md:mt-16 md:p-5 md:px-16;
      }
    }
  }

  .message-content {
    @apply text-milk relative z-20 flex min-h-dvh items-center justify-center overflow-hidden bg-[#7f3b2d];

    .msg-wrapper {
      @apply flex flex-col items-center justify-center gap-14 text-5xl leading-[9vw] font-bold tracking-[-.35vw] uppercase md:gap-24 md:text-8xl 2xl:text-[8.5rem];

      h1:first-of-type {
        @apply max-w-xs text-center text-[#faeade10] md:max-w-2xl 2xl:max-w-4xl;
      }

      h1:last-of-type {
        @apply max-w-xs text-center text-[#faeade10] md:max-w-4xl 2xl:max-w-7xl;
      }
    }

    p {
      @apply font-paragraph text-center;
    }

    h1,
    h2 {
      @apply leading-none;
    }

    .msg-text-scroll {
      @apply absolute z-10 -translate-y-5 rotate-[3deg] border-[.5vw] border-[#7f3b2d] 2xl:translate-y-5;
    }
  }

  .flavor-section {
    @apply bg-milk min-h-dvh;

    .flavor-text-scroll {
      @apply border-milk absolute z-10 rotate-[-3deg] border-[.5vw] md:translate-y-5;
    }

    .first-text-split h1 {
      @apply text-dark-brown md:text-center;
    }

    .second-text-split h1 {
      @apply md:text-center;
    }

    .slider-wrapper {
      @apply mt-0 min-h-dvh w-full md:mt-20 md:min-h-fit lg:h-dvh xl:mt-0;

      .flavors {
        @apply flex h-full w-full flex-col flex-nowrap items-center gap-7 md:flex-row md:gap-24 lg:gap-52 2xl:gap-72;

        .drinks {
          @apply absolute bottom-0 left-1/2 h-80 -translate-x-1/2 md:h-full;
        }

        .elements {
          @apply absolute bottom-10 w-full md:top-0 md:bottom-auto;
        }

        h1 {
          @apply text-milk absolute bottom-5 left-5 text-3xl font-semibold tracking-tighter uppercase md:bottom-10 md:left-10 md:text-6xl;
        }
      }
    }
  }

  .nutrition-section {
    @apply relative min-h-dvh overflow-hidden 2xl:h-[120dvh];

    .big-img {
      @apply absolute bottom-0 left-0 h-1/2 w-full object-cover object-bottom md:h-2/3 2xl:h-full 2xl:object-contain;
    }

    .nutrition-title {
      @apply py-3 pb-0 text-[#513022] md:py-0 md:pb-5 md:text-center lg:pb-0 xl:max-w-2xl 2xl:max-w-4xl;
    }

    .nutrition-text-scroll {
      @apply -mt-24 rotate-[-3deg] border-[.5vw] border-[#e3d3bc] text-nowrap opacity-0 md:-mt-32;
    }

    .nutrition-box {
      @apply absolute bottom-5 w-full px-5 md:bottom-16 md:px-0;

      .list-wrapper {
        @apply mx-auto flex max-w-7xl items-center justify-between rounded-full border-[.5vw] border-[#e8ddca] bg-[#fdebd2] px-5 py-5 md:px-0 md:py-8;

        p {
          @apply text-[#865720];
        }
      }

      .spacer-border {
        @apply absolute top-1/2 right-0 h-16 w-px -translate-y-1/2 transform bg-[#C89C6E] md:h-24;
      }
    }
  }

  .benefit-section {
    @apply relative min-h-screen overflow-hidden bg-[#222123];

    p {
      @apply text-milk font-paragraph text-center text-lg;
    }

    .first-title {
      @apply relative z-10 rotate-[3deg];
    }

    .second-title {
      @apply rotate-[-1deg] md:-translate-y-5;
    }

    .third-title {
      @apply relative z-10 rotate-[1deg] md:-translate-y-12;
    }

    .fourth-title {
      @apply rotate-[-5deg] md:-translate-y-12;
    }

    .vd-pin-section {
      @apply mt-20 h-screen overflow-hidden md:mt-0 md:h-[110vh] md:!-translate-y-[15%];

      video {
        @apply absolute inset-0 size-full object-cover;
      }

      .play-btn {
        @apply absolute top-1/2 left-1/2 flex size-[9vw] -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full bg-[#ffffff1a] backdrop-blur-xl;
      }

      img:first-of-type {
        @apply size-[15vw];
      }
    }
  }

  .testimonials-section {
    @apply bg-milk relative h-[120dvh] w-full;

    .pin-box {
      @apply absolute bottom-[50vh] flex w-full items-center justify-center ps-52 2xl:bottom-32;

      .vd-card {
        @apply border-milk absolute -ms-44 w-80 flex-none overflow-hidden rounded-3xl border-[.5vw] md:w-96 md:rounded-[2vw] 2xl:relative;
      }
    }

    h1 {
      @apply ml-[2vw] text-[15vw] leading-[105%] font-bold tracking-[-.4vw] uppercase;
    }
  }

  .footer-section {
    @apply relative min-h-[120dvh] overflow-hidden bg-[#222123] 2xl:min-h-dvh;

    .social-btn {
      @apply flex size-14 cursor-pointer items-center justify-center rounded-full border border-[#faeade33] p-3 transition-colors hover:bg-[#ffffff1a] md:size-[5vw] md:p-0;
    }

    input {
      @apply text-3xl placeholder:font-bold placeholder:tracking-tighter 2xl:text-4xl;
    }

    .copyright-box {
      @apply text-milk font-paragraph bottom-0 flex w-full flex-col-reverse items-center justify-center gap-7 px-5 py-7 opacity-50 md:flex-row md:justify-between md:px-10 md:text-lg 2xl:absolute;

      p {
        @apply text-center;
      }
    }
  }
}

.nutrition-section {
  background-color: #faeade00;
  background-image: radial-gradient(circle, #f3ece2, #dcccb0);
}

.spin-circle {
  animation: spin 20s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
